Click==7.0
Flask==1.0.3
Flask-WTF==0.14.2
Jinja2==2.10.1
MarkupSafe==1.1.1
Routes==2.4.1
WTForms==2.2.1
Werkzeug==0.15.4
certifi==2019.3.9
chardet==3.0.4
idna==2.8
itsdangerous==1.1.0
pip==19.1.1
pybald-routes==2.11
python-dotenv==0.10.2
repoze.lru==0.7
requests==2.22.0
setuptools==41.0.1
six==1.12.0
urllib3==1.25.2
